.icons
{
  overflow: hidden;
}

.icons ul 
{
  margin: 0;
  padding: 0;
}

.icons ul li
{
  list-style: none;
  float: left;
  margin-right: 10px;
}

.icons ul li:last-child
{
  margin-right: 0;
}

.icons ul li a
{
background-image: url('48-487892_icon-block-sprites-social-media.png');
width: 84px;
height: 84px;
background-repeat: no-repeat;
background-position: 0px 0px;
display: inline-block;
border: 2px solid #777;
border-radius: 50%;
transition: 1s;
}

.icons ul li:nth-child(1) a
{
  background-position: -5px -6px;
}

.icons ul li:nth-child(2) a 
{
  background-position: -295px -10px;
}

.icons ul li:hover:nth-child(2) a 
{
  background-position: -295px 0px;
}

.icons ul li:nth-child(3) a 
{
  background-position: -585px -7px ;
}

.icons ul li:hover:nth-child(3) a 
{
  background-position: -585px -0px ;
}
